@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background: #191523;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

li {
  list-style: none;
}

.gradient-text-1 {
  background: #6c2dbb;
  background: -webkit-linear-gradient(to right, #6c2dbb 0%, #ce51b3 100%);
  background: -moz-linear-gradient(to right, #6c2dbb 0%, #ce51b3 100%);
  background: linear-gradient(to right, #6c2dbb 0%, #ce51b3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
  background: #9cecfb;
  background: -webkit-linear-gradient(
    to bottom right,
    #9cecfb 0%,
    #65c7f7 100%
  );
  background: -moz-linear-gradient(to bottom right, #9cecfb 0%, #65c7f7 100%);
  background: linear-gradient(to bottom right, #9cecfb 0%, #65c7f7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fl-center,
.fl-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-center-col {
  flex-direction: column;
}

.fade-in,
.fade-in-right,
.fade-in-left {
  opacity: 0;
  transition: 0.35s ease-in-out;
  transition-delay: 0.35s;
}

.fade-in-right {
  transform: translateX(20%);
}

.fade-in-left {
  transform: translateX(-20%);
}

.fade-in.appear,
.fade-in-right.appear,
.fade-in-left.appear {
  opacity: 1;
  transform: translateX(0);
}

.slide-up {
  transform: translateY(50%);
  opacity: 0;
  transition: 0.5s ease-in;
  width: 100%;
  height: auto;
}

.slide-up.appear {
  transform: translateY(0);
  opacity: 1;
}

.rotate {
  transform: rotate(-90deg) scale(1.35);
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.2s;
}

.rotate.appear {
  transform: rotate(0);
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fdf6ff;
  z-index: 2;
}

.nav-list,
.nav-brand {
  padding: 20px;
  font-weight: 600;
}

.nav-brand {
  font-size: 1.1rem;
}

.nav-item {
  display: inline;
  font-size: 0.85rem;
  padding: 8px 15px;
}

.buy-btn {
  cursor: pointer;
  border-radius: 25px;
  background-image: linear-gradient(to right, #1038a7 0%, #0d809c 100%);
}

.section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-2 {
  background: #34283c;
}

.hero-container,
.intro-container {
  text-align: center;
}

.buy-now {
  background: url(./assets/img/handheld.png);
  background-position: center;
  background-size: cover;
}

.buy-now .buy-btn {
  padding: 10px 20px;
  color: #fdf6ff;
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 600;
}

.colors {
  height: 100%;
  width: 100%;
  background: url(./assets/img/colors.png);
  background-position: center;
  background-size: cover;
}

.colors-text {
  margin: 0 2% 5% 0;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -0.2rem;
}

.cam-text,
.camera img {
  flex: 1;
}

.cam-text {
  text-align: center;
  color: #8ed4c2;
  font-size: 2.4rem;
  font-weight: 800;
}

.camera img {
  margin-top: 15%;
}

.hero-text {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.3rem;
  color: #fdf6ff;
}

.intro-text {
  font-size: 2rem;
  font-weight: 700;
  color: #fdf6ff;
  padding-top: 30px;
}

.feat-item {
  font-size: 2.4rem;
  font-weight: 800;
  color: #fdf6ff;
  margin-top: 15px;
  letter-spacing: -0.1rem;
}

.buy-text {
  font-size: 2.2rem;
  font-weight: 800;
  color: #45edcc;
  text-align: center;
}

.cta-text {
  font-size: 4.6rem;
  font-weight: 900;
  color: #8ed4c2;
  letter-spacing: -0.2rem;

  position: absolute;
  right: 15%;
}

.intro-text span {
  font-weight: 900;
  font-size: 3.6rem;
  letter-spacing: -0.2rem;
}

.cta {
  position: relative;
}

.front-zoom-out {
  height: 250%;
  width: auto;
  transform: rotate(90deg);
  transition: 1s ease-in-out;
  transition-delay: 0.8s;
}

.cta .fade-in-right {
  transition-delay: 1.5s;
}

.cta.appear .front-zoom-out {
  transform: rotate(0);
  height: 75%;
  width: auto;
  margin-right: 45%;
}

.buy-page {
  min-height: 100vh;
  width: 100%;
}

.buy-page .image-container,
.buy-page .info {
  width: 50%;
}

.buy-page img {
  transition: 0.2s ease;
}

.buy-page img:hover {
  transform: scale(1.1);
}

.buy-page .info {
  color: #d3f8ff;
}

.info h1 {
  font-weight: 900;
  font-size: 2.8rem;
  color: #fdf6ff;
}

.info h2 {
  font-weight: 500;
}

.info .buy-btn {
  border-style: none;
  padding: 10px 20px;
  color: inherit;
  font: inherit;
  font-weight: 800;
  margin-top: 15px;
}

form {
  width: 45%;
  padding: 25px;
  border: 2px dashed #8ed4c2;
  border-radius: 25px;
}

form h1 {
  color: #45edcc;
  font-weight: 800;
  font-size: 2.6rem;
}

input {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  font: inherit;
}

input[type="submit"] {
  background-color: #0d809c;
  color: white;
  font-weight: 800;
  border-style: none;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  html,
  body {
    font-size: 10px;
  }

  main {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
  }

  .nav-brand,
  .nav-item {
    font-size: 1.4rem;
  }

  .section {
    padding: 0px 10px;
    scroll-snap-align: start;
  }

  .slide-up {
    height: 100%;
    width: auto;
    margin: 0 -100%;
  }

  .cta.appear .front-zoom-out {
    margin-right: 115%;
  }

  .cta-text {
    right: 10%;
    width: 40%;
  }

  .rotate {
    transform: rotate(0);
    margin-left: 40%;
  }

  .cam-text {
    text-align: left;
    margin-left: 10%;
    font-size: 3rem;
  }

  form {
    width: 90%;
  }
}
